/*******************
 * check and radio *
 *******************/

check,
check row:selected,
check row:selected:focus,
.check,
.check row:selected,
.check row:selected:focus {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.png"), url("assets/checkbox-unchecked@2.png"));
    -gtk-icon-shadow: none;
}

check:disabled,
check row:selected:disabled,
check row:selected:focus:disabled,
.check:disabled,
.check row:selected:disabled,
.check row:selected:focus:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive.png"), url("assets/checkbox-unchecked-insensitive@2.png"));
    -gtk-icon-shadow: none;
}

check:checked,
check row:selected:checked,
check row:selected:focus:checked,
.check:checked,
.check row:selected:checked,
.check row:selected:focus:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.png"), url("assets/checkbox-checked@2.png"));
    -gtk-icon-shadow: none;
}

check:checked:disabled,
check row:selected:checked:disabled,
check row:selected:focus:checked:disabled,
.check:checked:disabled,
.check row:selected:checked:disabled,
.check row:selected:focus:checked:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive.png"), url("assets/checkbox-checked-insensitive@2.png"));
    -gtk-icon-shadow: none;
}

check:indeterminate,
check row:selected:indeterminate,
check row:selected:focus:indeterminate,
.check:indeterminate,
.check row:selected:indeterminate,
.check row:selected:focus:indeterminate {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed.png"), url("assets/checkbox-mixed@2.png"));
    -gtk-icon-shadow: none;
}

check:indeterminate:disabled,
check row:selected:indeterminate:disabled,
check row:selected:focus:indeterminate:disabled,
.check:indeterminate:disabled,
.check row:selected:indeterminate:disabled,
.check row:selected:focus:indeterminate:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive.png"), url("assets/checkbox-mixed-insensitive@2.png"));
    -gtk-icon-shadow: none;
}

GtkIconView.view.check,
GtkIconView.view.check:hover,
GtkIconView.view.check:active,
GtkFlowBox.view.check,
GtkFlowBox.view.check:hover,
GtkFlowBox.view.check:active {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-selectionmode-unchecked.png"), url("assets/checkbox-selectionmode-unchecked@2.png"));
    -gtk-icon-shadow: none;
}

GtkIconView.view.check:checked,
GtkIconView.view.check:checked:hover,
GtkFlowBox.view.check:checked,
GtkFlowBox.view.check:checked:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-selectionmode-checked.png"), url("assets/checkbox-selectionmode-checked@2.png"));
    -gtk-icon-shadow: none;
}

radio,
radio row:selected,
radio row:selected:focus,
.radio,
.radio row:selected,
.radio row:selected:focus {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unselected.png"), url("assets/radio-unselected@2.png"));
    -gtk-icon-shadow: none;
}

radio:disabled,
radio row:selected:disabled,
radio row:selected:focus:disabled,
.radio:disabled,
.radio row:selected:disabled,
.radio row:selected:focus:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unselected-insensitive.png"), url("assets/radio-unselected-insensitive@2.png"));
    -gtk-icon-shadow: none;
}

radio:checked,
radio row:selected:checked,
radio row:selected:focus:checked,
.radio:checked,
.radio row:selected:checked,
.radio row:selected:focus:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-selected.png"), url("assets/radio-selected@2.png"));
    -gtk-icon-shadow: none;
}

radio:checked:disabled,
radio row:selected:checked:disabled,
radio row:selected:focus:checked:disabled,
.radio:checked:disabled,
.radio row:selected:checked:disabled,
.radio row:selected:focus:checked:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-selected-insensitive.png"), url("assets/radio-selected-insensitive@2.png"));
    -gtk-icon-shadow: none;
}

radio:indeterminate,
radio row:selected:indeterminate,
radio row:selected:focus:indeterminate,
.radio:indeterminate,
.radio row:selected:indeterminate,
.radio row:selected:focus:indeterminate {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.png"), url("assets/radio-mixed@2.png"));
    -gtk-icon-shadow: none;
}

radio:indeterminate:disabled,
radio row:selected:indeterminate:disabled,
radio row:selected:focus:indeterminate:disabled,
.radio:indeterminate:disabled,
.radio row:selected:indeterminate:disabled,
.radio row:selected:focus:indeterminate:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive.png"), url("assets/radio-mixed-insensitive@2.png"));
    -gtk-icon-shadow: none;
}

menu menuitem.check,
menu menuitem.check:hover,
.menu .menuitem.check,
.menu .menuitem.check:hover {
    -gtk-icon-source: url("assets/null.png");
}

menu menuitem.check:active,
menu menuitem.check:checked,
.menu .menuitem.check:active,
.menu .menuitem.check:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/menuitem-checkbox-checked.png"), url("assets/menuitem-checkbox-checked@2.png"));
}

menu menuitem.check:active:hover,
menu menuitem.check:checked:hover,
.menu .menuitem.check:active:hover,
.menu .menuitem.check:checked:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/menuitem-checkbox-checked-selected.png"), url("assets/menuitem-checkbox-checked-selected@2.png"));
}

menu menuitem.check:active:disabled,
menu menuitem.check:checked:disabled,
.menu .menuitem.check:active:disabled,
.menu .menuitem.check:checked:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/menuitem-checkbox-checked-insensitive.png"), url("assets/menuitem-checkbox-checked-insensitive@2.png"));
}

menu menuitem.check:indeterminate,
menu menuitem.radio:indeterminate,
.menu .menuitem.check:indeterminate,
.menu .menuitem.radio:indeterminate {
    -gtk-icon-source: -gtk-scaled(url("assets/menuitem-checkbox-mixed.png"), url("assets/menuitem-checkbox-mixed@2.png"));
}

menu menuitem.check:indeterminate:disabled,
menu menuitem.radio:indeterminate:disabled,
.menu .menuitem.check:indeterminate:disabled,
.menu .menuitem.radio:indeterminate:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/menuitem-checkbox-mixed-insensitive.png"), url("assets/menuitem-checkbox-mixed-insensitive@2.png"));
}

menu menuitem.check:indeterminate:hover,
menu menuitem.radio:indeterminate:hover,
.menu .menuitem.check:indeterminate:hover,
.menu .menuitem.radio:indeterminate:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/menuitem-checkbox-mixed-selected.png"), url("assets/menuitem-checkbox-mixed-selected@2.png"));
}

menu menuitem.radio,
menu menuitem.radio:hover,
.menu .menuitem.radio,
.menu .menuitem.radio:hover {
    -gtk-icon-source: url("assets/null.png");
}

menu menuitem.radio:active,
menu menuitem.radio:checked,
.menu .menuitem.radio:active,
.menu .menuitem.radio:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/menuitem-radio-checked.png"), url("assets/menuitem-radio-checked@2.png"));
}

menu menuitem.radio:active:hover,
menu menuitem.radio:checked:hover,
.menu .menuitem.radio:active:hover,
.menu .menuitem.radio:checked:hover {
    background-image: -gtk-scaled(url("assets/menuitem-radio-checked-selected.png"), url("assets/menuitem-radio-checked-selected@2.png"));
}

menu menuitem.radio:active:disabled,
menu menuitem.radio:checked:disabled,
.menu .menuitem.radio:active:disabled,
.menu .menuitem.radio:checked:disabled {
    background-image: -gtk-scaled(url("assets/menuitem-radio-checked-insensitive.png"), url("assets/menuitem-radio-checked-insensitive@2.png"));
}

/******************
 * pane separator *
 ******************/

.pane-separator {
    background-image: -gtk-scaled(url("assets/pane-separator-grip-vertical.png"), url("assets/pane-separator-grip-vertical@2.png"));
    background-repeat: no-repeat;
    background-position: center;
}

.pane-separator.vertical {
    background-image: -gtk-scaled(url("assets/pane-separator-grip.png"), url("assets/pane-separator-grip@2.png"));
}
